@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
}

:root{
    --base-font-size: 16px;
    --nav-height: 100px;
    font-size: var(--base-font-size);
}

nav{
    width: 100%;
    height: var(--nav-height);
    background-color: #04070DD9;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    backdrop-filter: blur(5px);
    z-index: 999;
    transition: transform 0.25s ease;

    & #navlogo{
        width: 200px;
        display: flex;
        place-content: center;
        & img{
            width: 100%;
            height: auto;
        }
    }
    & ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        & a{
            font-family: "Inter", sans-serif;
            color: #E8E8E8;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 500;
            transition: color 0.2s ease;
            text-wrap: nowrap;
            &:hover{
                color: #f9a03f;
            }
        }
    }
}

p{
    letter-spacing: 0.07438rem;
    line-height: 2rem;
}

section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & .sec-para{
        font-weight: 400;
        font-size: 1.0625rem;
        letter-spacing: 0.07438rem;
        text-align: justify;
        line-height: 2rem;
    }
    & .sec-heading{
        font-weight: 700;
        font-size: 3.125rem;;
        letter-spacing: 0.07438rem;
        color: #02020A;

    }
}

#intro{
    height: 100vh;
    background-image: url('./assets/main-bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10rem;
    & h1{
        font-family: "Montserrat", sans-serif;
    }
}

#intro-heading-l1{
    font-size: 5.4rem;
    font-weight: 800;
    color: #3d8193;
}

#intro-heading-l2{
    font-size: 6.4rem;
    font-weight: 600;
    color: #489FB5;
    margin-bottom: 0.8rem;
}

#countdown{
    background: linear-gradient(185.1deg, rgba(72, 159, 181, 0.9) 3.44%, rgba(7, 99, 122, 0.9) 95.27%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 110px;
    border-radius: 15px;
    padding: 1rem 2rem;
    gap: 0.5rem;
    
    & .seperator{
        width: 2.5px;
        background-color: #f5f5f5;
        height: 100%;
    }
    & .count{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        color: #F5F5F5;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        flex: 1;
        & p:nth-child(1){
            font-size: 2.2rem;
        }
        & .p:nth-child(2){
            font-size: 1.4;
        }
    }
}

#about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 5rem;
    background-color:#002A32;

    & #aboutimg{
        flex: 1;
        & img{
            min-width: 390px;
            width: 100%;
        }
    }
    & #aboutus-content{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 2rem;
        min-width: 300px;
        & h1{
            
            color: #ebebeb;
        }
        & p{
           
            color: #dddddd;
        }
    }
}

section#who-can-participate{
    background-color: #ECECECE5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding:50px;
    min-height: 300px;
    & h1{
        max-width: 300px;
        width: 100%;
    }
    & ul>li{
        color: #656565;
        list-style: disc;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }
}

section#why-attend{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 4rem 2rem;

    #why-attend-grid{
        width: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly; 
        align-items:center;
        gap: 1.5rem;
        flex-wrap:wrap ;
        
        & .why-attend-card{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 1rem;
            width: 350px;
            min-height: 250px;
            & p{
                line-height: 2rem;
            }
        }

        
    }
}

#reg-and-screening{
    background-color: #F3F3F3;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    & li{
        list-style:decimal;
    }
    & #reg-pro{
        padding: 5rem ;
        background-color: white;
        color: #656565;
        line-height: 2rem;
        max-width: 1120px;
        border-radius: 1rem;
        box-shadow: 0px 5px 15px 0px #00000040;
        margin-bottom: 5rem;
        
    }
    & #screening-boxes {
        display: flex;
        width: 100%;
        max-width: 1120px;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
        justify-content: space-between;
        & .screening-card{
            margin-top: 4rem;
            width: 100%;
            max-width: 450px;
            min-height: 450px;
            background-color: white;
            box-shadow: 0px 5px 15px 0px #00000040;
            border-radius: 1rem;
            padding: 3rem;
            padding-top: 10rem;
            position: relative;
            & .screening-no{
                position: absolute;
                top: -50px;
                left: calc(50% - 50px);
                width: 100px;
                height: 100px;
                /* background-color: red; */
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                font-weight: 400;
                color: white;
            }  
            &:nth-child(1)>.screening-no{
                background-color: #F9A03F;
            }
            &:nth-child(2)>.screening-no{
                background-color: #489FB5;
            }
        }
    }
}

#last-expo-details{
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #F6F6F6;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    & #details-left{
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        & .previous-stats{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            & .stat-value{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                align-items:center;
                & h1{
                    font-size: 3.125rem;
                }

                & p {
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                
                &:nth-child(1)>h1{
                    color: #489FB5;
                }
                &:nth-child(2)>h1{
                    color: #F9A03F;
                }
                &:nth-child(3)>h1{
                    color: #AC3931;
                }
            }
        }
    
    }

    & #details-right{
        width: 100%;
        max-width: 710px;

    }

}

#event-gallery{
    padding: 4rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    
    & #carousel{
        height: 250px;
        width: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: row;
        place-content: center;
        gap: 1rem;
    }
    
    .carousel-contents{
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 2rem;
        & img{
            height: 100%;
            width: auto;
        }
    }
    .carousel-display{
        overflow: hidden;
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }
}

.car-btn{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border:none;
    color: #489FB5;
    cursor:pointer;
    transition: transform 0.25s;
    &:hover{
        transform: scale(1.2)
    }
    & svg{
        width: 100%;
        height: auto;
    }
}

#carousel-dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.carousel-dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 20px;
    background-color: #b3b3b3;
}

.carousel-dot-active{
    background-color: #489FB5 !important;
}

#registration-area{
    padding: 5rem  4rem;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 3rem;
}

#rf-illustration{
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    height: auto;
    & img{
        width: 100%;
        height: auto;
    }
}

#registration-form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    
    h1{
        margin-bottom: 3rem;
    }

    p{
        font-weight: 300;
        align-self: flex-start;
        a {
            color: #489FB5;
            text-decoration: underline;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        width: 100%;

        #clg-details{
            width: 100%;
        }
    
    }



    & .inp-element{
        min-width: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 3.5rem;
        width: 100%;
        background-color: white;
        padding: 0rem 1.75rem;
        border: 2px solid #489FB5;
        border-radius: 0.75rem;

        label{
            svg {
                color:#489FB5;
                width: 1.5rem;
                height: 100%;
            }
        }


        input{
            font-size: 1.06rem;
            padding: 1rem;
            border: none;
            width: 100%;
            height: 100%;
            &::placeholder{
                color: #9F9F9F;
                font-size: 1.06rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:focus,&:active{
                border: none;
                outline: none;
            }
        }
    }
    .submit-form-btn{
        padding: 1rem 2rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #489FB5;
        color: white;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        cursor: pointer;
        font-size: 1rem;
    }

}

#clg-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

#sponsors{
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
    padding: 4rem;
    gap: 4rem;
}

.sponors-encloser{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.sponsor{
    width: 190px;
    height: 140px;
    border-radius: 0.5rem;
    background-color: white;
}

#newsletter{
    padding: 3rem;
    min-height: 235px;
    justify-content: space-around;
    gap: 3rem;
    background:linear-gradient(185.1deg, rgba(72, 159, 181, 0.9) 3.44%, rgba(7, 99, 122, 0.9) 95.27%);
}


#newsletter-input-box{
    display: flex;
    padding: 0.25rem;
    background-color: white;
    height: 3.5rem;
    width: 100%;
    max-width: 670px;
    border-radius: 0.5rem;

    button{
        color: white;
        font-size: 1.06rem;
        font-weight: 600;
        background-color: #489FB5;
        border-radius: 0.5rem ;
        height: 100%;
        padding: 0.25rem 1rem;
        border:none;
    }

    input{
        width: 100%;
        border:none;
        padding: 0.5rem;
        font-size: 1.06rem;
        &:focus{
            outline: none;
        }
    }
}

footer{
    width: 100%;
    padding: 4rem;
    gap: 1rem;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    .footer-left,.footer-right{
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 1.25rem;
        .contact-item{
            display: flex;
            gap: 1rem;
        }
        a,.contact-item, input, input::placeholder, textarea, textarea::placeholder{
            color: #D4D4D4;
            font-size: 1rem;
        }
        h2{
            color: #489FB5;
            letter-spacing: 0.22rem;
            font-size: 1.625rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
        }
    }
    .footer-right{
        padding-left: 2rem;
        border-left: 1px solid #D4D4D4;
        input, textarea{
            height: auto;
            padding: 0.5rem 0rem;
            width: 100%;
            max-width: 100%;
            background-color: transparent;
            border:none;
            outline: none;
            border-bottom: 1px solid #D4D4D4;
        }
        textarea{
            resize: none;
            height: 100px;
        }
    }

}

@media only screen and (width<1075px){
    nav>#nav-links-desktop{
        display: none;
    }
    nav>#navlogo{
        height: 85%;
        width: auto;
    }
    :root{
        --nav-height: 70px

    }
    #hamburger-menu{
        display: flex !important;
    }
    #mobile-menu{
        display: flex !important;
    }

}

@media only screen and (width< 950px){
    section, #about{
        flex-wrap: wrap;
        align-items: center !important;
        justify-content: center !important;
    }
    #intro{
        padding-left: 0;
    }
    h1{
        width: auto !important;
        max-width: 100% !important;
        text-align: center !important;
    }

    #last-expo-details>#details-left{
        max-width: 100%;
        align-items: center;
        .previous-stats{
            gap: 3rem;
        }
    }

    :root{
        --base-font-size: 14px
    }
}

@media only screen and (width<795px){
    .why-attend-card{
        min-height: 0 !important;
        width: 80% !important;
        align-items: center !important;
        h2{
            text-align: center !important;
        }
        p{
            text-align: center !important;
        }
    }
    #why-attend-grid{
        gap: 50px !important;
    }
}

@media only screen and (width<680px){
    #clg-details{
        flex-wrap: wrap !important;
    }
    #screening-boxes{
        flex-wrap: wrap;
        align-items: center !important;
        justify-content: center !important;
       
        .screening-card{
            max-width: 300px !important;
            min-height: 0 !important;
            padding-top: 5rem !important;
            padding: 2rem !important;
        }
        .screening-no{
            width: 75px !important;
            height: 75px !important;
            font-size: 2rem !important;
        }
    }
}

@media only screen and (width< 560px){
    
    #countdown{
        height: 75px !important;
    }
    
    #intro{
        padding: 2rem;
        #countdown{
            width: 100%;

        }
    }
    footer{
        padding: 2rem;
        gap: 4rem;
        flex-wrap: wrap;
        .footer-left, .footer-right{
            border-left: none;
            padding-left: 0;
            h2{
                margin-bottom: 0.5rem;
            }
        }
    }

    #newsletter{
        padding: 2rem;
    }

    .stat-value{
        h1{
            font-size: 2rem !important;
        }
        p{
            font-size: 1rem !important;
        };
    }

    .previous-stats{
        gap: 0 !important;
        width: 100% !important;
        justify-content: space-evenly !important;
    }

    #aboutimg{
        flex: unset !important;
        width: 100% !important;
    }

    #aboutimg>img{
        width: 100% !important;
        min-width: 100% !important ;
    }

    #reg-pro{
        padding: 2rem !important;
        padding-left: 2.5rem !important;
    }
    .count>p:nth-child(1){
        font-size: 1.5rem !important;
    }
    #intro-heading-l1{
        font-size: 4.4rem;
    }
    #intro-heading-l2{
        font-size: 5.4rem;
    }

    .inp-element{
        padding: 0 0.5rem !important;
    }

    .inp-element>label{
        display: none;
    }

}

@media only screen and (width < 400px){
    :root{
        --base-font-size: 12px;
    }
}

#hamburger-menu{
    width: 29px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.hb-line{
    width: 100%;
    height: 4px;
    transition: transform 0.25s ease, opacity 0.25s ease;
    &:nth-child(1){
        transform: translateY(-50%);
    }

    &:nth-child(3){
        transform: translateY(50%);
    }
    background-color: #F9A03F;
}

.cross-bar-1{
    transform: translateY(calc(-50% + 12.5px)) rotate(45deg) !important;
}
.cross-bar-2{
    transform: translateY(calc(50% - 12.5px)) rotate(-45deg) !important;
}

#mobile-menu{
    position: absolute;
    top: var(--nav-height);
    left: 0;
    height:100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.5s ease;
    transform: translateX(-100%);
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: start;
    padding-top: 3rem;
    ul{
        flex-direction: column;
    }
}
